*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    max-width: 960px;
    outline: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.part{
    border: 1px solid black;
}

